.form {
  &--auth {
    max-width: 28rem;
    margin: 0 auto;
  }
}

.form__group {
  margin-bottom: 1.5rem;
  position: relative;
  &--md {
    margin-bottom: 2.5rem;
  }
}
.form__control {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #838282;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: 1.4rem;
  color: $white;
  padding: 0.5rem 0 0.75rem;
  &:focus + .form__line {
    width: 100%;
  }
  &::placeholder {
    color: rgba($white, 0.2);
  }
  &--textarea {
    overflow: hidden;
    resize: none;
    height: 30px;
  }
}

.form__line {
  width: 0%;
  background-color: $blue;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s linear;
  z-index: 1;
}

.form__footer {
  &--center {
    text-align: center;
  }
}

.form__footer--list {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 0.5rem;
  }
  a {
    color: $white;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.2;

    &:hover {
      text-decoration: underline;
    }
  }
}
