.form {
}
.form__group {
  margin-bottom: 1.5rem;
  position: relative;
}
.form__control {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #838282;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: 1.4rem;
  color: $white;
  padding: 0.5rem 0;
  &:focus + .form__line {
    width: 100%;
  }
  &::placeholder {
    color: rgba($white, 0.2);
  }
  &--textarea {
    overflow: hidden;
    resize: none;
    height: 30px;
  }
}

.form__line {
  width: 0%;
  background-color: $blue;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.2s linear;
  z-index: 1;
}
